body {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, Helvetica Neue;
  font-size: 18px;
  overflow-x: hidden;
  width: 100%;
  min-width: 320px;
  background-color:#EFEFEF;
}

* {
  box-sizing: border-box;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
  color: #222;
}

li {
  list-style: none;
}
img {
  max-width: 100%;
}
a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}
.restaurant-container{
  width:80%;
  margin:2% auto;
}
.restaurant{
  padding:1%;
  width:22%;
  background-color:#fff;
  color:#757575;
  float:left;
  margin:1%;
  font-size:0.5rem;
}
.restaurant-pic{
  height:auto;
  margin-bottom:1%;
  border:1px solid #eeeeff;
}
.restarant-name,.restarant-score,.restarant-summary{
  line-height:24px;
}
.restarant-summary{
  color:#757575;
}
.star-cb-group {
  font-size: 0;
  unicode-bidi: bidi-override;
  direction: rtl;
}
.star-cb-group * {
  font-size: 0.8rem;
}
.star-cb-group > input {
  display: none;
}
.star-cb-group > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
}
.star-cb-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  color: #888;
}
.star-cb-group > input + label:before {
  content: "☆";
}
.star-cb-group input:checked ~ label:before{
  content: "★";
  color: yellow;
  text-shadow: 0 0 1px #333;
}
:root {
  font-size: 2em;
  font-family: Helvetica, arial, sans-serif;
}

